---
published: true
---
body { font-family: "jubilat-1","jubilat-2",sans-serif; margin-top: 65px; margin-bottom: 30px; }
p { font-weight: 200; font-size: 18px; }
h1,h2 { font-family: "jubilat-1","jubilat-2",sans-serif; font-weight: 400; }
.duration { font-style: italic; }
.duration:before { content: "("; }
.duration:after { content: ")"; }
.footer { font-size: 22px; text-align: center; }

body.default {
  background: hsl(280, 14%, 96%);
  p { color: hsl(271, 37%, 13%); }
  a { color: hsl(256, 43%, 51%); }
  a:hover { color: hsl(221, 91%, 56%); }
  span.name { color: hsl(256, 43%, 51%); }
  h1, h2 { color: hsl(256, 37%, 19%); }
}

@mixin color_values($hue) {
  background: hsl($hue + 10, 14%, 96%);
  p { color: hsl($hue, 37%, 13%); }
  a { color: hsl($hue - 20, 43%, 51%); }
  a:hover { color: hsl($hue - 40, 91%, 56%); }
  span.name { color: hsl($hue, 43%, 51%); }
  h1, h2 { color: hsl($hue - 20, 37%, 19%); }
}

@mixin color_values2($base: hsl(256, 0%, 19%)) {
  color: $base;
  background: $base;
  h1,h2,h3,h4,h5,h6 { color: saturate($base); }
}

body.monday { @include color_values(271) }
body.tuesday { @include color_values(45) }
body.wednesday { @include color_values(120) }
body.thursday { @include color_values(24) }
body.friday { @include color_values(300) }
body.saturday { @include color_values(180) }
body.sunday { @include color_values(90) }

